@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to JOKESWEB..</h1>
    <p>The formost authority of good humour that you will find anywhere on you local host</a>.</p>
</div>
